/* General */
.homepage-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #2D2D2d;
  width: 100%;
  height: 100%;
  --s: 222px;
  --c1: #1B1B1B;
  --c2: #2B2B2B;
  --c3: #3B3B3B;

  --_g: var(--c1) 10%, var(--c2) 10.5% 19%, #0000 19.5% 80.5%,
    var(--c2) 81% 89.5%, var(--c3) 90%;
  --_c: from -90deg at 37.5% 50%, #0000 75%;
  --_l1: linear-gradient(145deg, var(--_g));
  --_l2: linear-gradient(35deg, var(--_g));
  background: var(--_l1), var(--_l1) calc(var(--s) / 2) var(--s), var(--_l2),
    var(--_l2) calc(var(--s) / 2) var(--s),
    conic-gradient(var(--_c), var(--c1) 0) calc(var(--s) / 8) 0,
    conic-gradient(var(--_c), var(--c3) 0) calc(var(--s) / 2) 0,
    linear-gradient(
      90deg,
      var(--c3) 38%,
      var(--c1) 0 50%,
      var(--c3) 0 62%,
      var(--c1) 0
    );
  background-size: var(--s) calc(2 * var(--s) / 3);
  
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  background-color: #3b3b3b;
}

.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
  margin-right: 1rem;
}

/*BOTONES*/

.btn2 {
  position: relative;
  display: inline-block;
  padding: 0.9rem 1.8rem;
  border: 2px solid #fefefe;
  text-transform: uppercase;
  color: #fefefe;
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
  transition: 0.3s;
}

.btn2::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% - -2px);
  background-color: #3b3b3b;
  transition: 0.3s ease-out;
  transform: scaleY(1);
}

.btn2::after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% - 50px);
  background-color: #3b3b3b;
  transition: 0.3s ease-out;
  transform: scaleY(1);
}

.btn2:hover::before {
  transform: translateY(-25px);
  height: 0;
}

.btn2:hover::after {
  transform: scaleX(0);
  transition-delay: 0.15s;
}

.btn2:hover {
  border: 2px solid #fefefe;
}

.btn2 span {
  position: relative;
  z-index: 3;
}

button {
  text-decoration: none;
  border: none;
  background-color: transparent;
  padding-right: 1rem;
  padding-left: 1rem;
}

.btn {
  display: inline-block;
  padding: 0.9rem 1.8rem;
  font-size: 15px;
  font-weight: 700;
  color: white;
  border: 3px solid #A183F9;
  cursor: pointer;
  position: relative;
  background-color: transparent;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  font-family: inherit;
 }
 
 .btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(134, 62, 194);
  transform: translateX(-100%);
  transition: all .3s;
  z-index: -1;
 }
 
 .btn:hover::before {
  transform: translateX(0);
 }

/* Hero Section */
.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  padding: 2rem;
  background-size: cover;
  background-position: center;
  
}

.hero-text {
  max-width: 50%;
}

.hero-text h1 {
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  font-family: Verdana;
  font-weight: bold;
  color: whitesmoke;
}

.hero-text .highlight {
  color: #A183F9; /* Morado */
}

.hero-text p {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  color: whitesmoke;
}

.hero-button {
  padding: 0.75rem 2rem;
  background: #5a55f3;
  color: #fff;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.hero-button:hover {
  background: #786ff3;
}

/* Hero Image */
.hero-image img {
  width: 700px; 
  max-width: 100%;
  height: auto;
}


.separator {
  width: 80%; /* Ocupa el 80% del ancho de la pantalla */
  height: 2px; /* Grosor de la línea */
  background-color: #4d4c4c; /* Color gris claro */
  margin: 2rem auto; /* Centra la línea y añade espaciado arriba y abajo */
  opacity: 0.7; /* Transparencia sutil */
}
/* CARDS */

/* From Uiverse.io by gharsh11032000 */ 
.card-container {
  width: 300px;
  height: 300px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.card {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.card .front-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1)
}

.card .front-content p {
  font-size: 32px;
  font-weight: 700;
  opacity: 1;
  background: linear-gradient(-45deg, #6d59e0 0%, #ff0f7b 100% );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1)
}

.card .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  background: linear-gradient(-45deg, #6d59e0 0%, #ff0f7b 100% );
  color: #e8e8e8;
  padding: 20px;
  line-height: 1.5;
  border-radius: 5px;
  pointer-events: none;
  transform: translateX(-96%);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card .content .heading {
  font-size: 32px;
  font-weight: 700;
}

.card:hover .content {
  transform: translateY(0);
}

.card:hover .front-content {
  transform: translateX(-30%);
}

.card:hover .front-content p {
  opacity: 0;
}

.cards-section {
  padding: 4rem 2rem; /* Espaciado alrededor de las cards */
  display: flex;
  justify-content: center; /* Centra las cards horizontalmente */
  align-items: center; /* Centra las cards verticalmente */
  background: none; /* Usa el fondo heredado */
}

.cards-wrapper {
  display: flex; /* Coloca las cards en fila */
  gap: 2rem; /* Espaciado entre las cards */
  flex-wrap: wrap; /* Permite que las cards se ajusten si no hay suficiente espacio */
  justify-content: center; /* Centra las cards en filas múltiples */
}

.card-container {
  width: 300px;
  height: 300px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

